<div class="pages">
  <div data-page="projects" class="page no-toolbar no-navbar">
    <div class="page-content">
    
     <div class="navbarpages">
       <div class="nav_left_logo"><a href="index.html"><img src="images/logo.png" alt="" title="" /></a></div>
	    <div class="navbar_page_center">Property</div>
       <div class="nav_right_button"><a href="menu.html"><img src="images/icons/white/menu.png" alt="" title="" /></a></div>
     </div>
     
     <div id="pages_maincontent">
      
      <h2 class="page_title">Property</h2>
      
      <div class="page_content">
      
        <ul class="features_list_detailed">
      
          <li>
          <div class="feat_small_icon"><img src="images/photos/photo2.jpg" alt="" title="" /></div>
          <div class="feat_small_details">
          <h4>Vasant Kunj</h4>
          <p>881 + Properties for Sale 1479 + Properties for Rent</p>
          <a href="photos.html" class="button_small">Read More</a>
          </div>
          </li> 
          
          <li>
          <div class="feat_small_icon"><img src="images/photos/photo3.jpg" alt="" title="" /></div>
          <div class="feat_small_details">
          <h4>2 BHK Apartment 1453 sqft</h4>
          <p>in Yamuna Block Apartment by Delhi Development Authority</p>
          <a href="blog.html" class="button_small">Read More</a>
          </div>
          </li> 
                
          <li>
          <div class="feat_small_icon"><img src="images/photos/photo4.jpg" alt="" title="" /></div>
          <div class="feat_small_details">
          <h4>3 BHK Apartment 1500 sqft</h4>
          <p>in Takshashila Resident Welfare Association</p>
          <a href="tabs.html" class="button_small">Read More</a>
          </div>
          </li>
          
          <li>
          <div class="feat_small_icon"><img src="images/photos/photo5.jpg" alt="" title="" /></div>
          <div class="feat_small_details">
          <h4>3 BHK Apartment 1700 sqft</h4>
          <p>3 Bath Furnished4th Floor (of 8)Overlooking Main Road</p>
          <a href="toogle.html" class="button_small">Read More</a>
          </div>
          </li>
          
          <li>
          <div class="feat_small_icon"><img src="images/photos/photo6.jpg" alt="" title="" /></div>
          <div class="feat_small_details">
          <h4>3 BHK Apartment 1700 sqft</h4>
          <p>Ready to Move (Resale) Freehold 2 Bath Furnished1st Floor (of 3)</p>
          <a href="#" data-popup=".popup-login" class="button_small open-popup">Read More</a>
          </div>
          </li>
          
          
          
          <li>
          <div class="feat_small_icon"><img src="images/photos/photo7.jpg" alt="" title="" /></div>
          <div class="feat_small_details">
          <h4>3 BHK Apartment 1800 sqft</h4>
          <p>in DDA Pocket 8 by Delhi Development Authority</p>
          <a href="#" data-popup=".popup-social" class="button_small open-popup">Read More</a>
          </div>
          </li>
          
          <li>
          <div class="feat_small_icon"><img src="images/photos/photo8.jpg" alt="" title="" /></div>
          <div class="feat_small_details">
          <h4>3 BHK Apartment 1850 sqft</h4>
          <p>in DDA Flats Sector B Pocket 9</p>
          <a href="#" data-panel="right" class="button_small open-panel">Read More</a>
          </div>
          </li>
          
		  <li>
          <div class="feat_small_icon"><img src="images/icons/turquoise/contact.png" alt="" title="" /></div>
          <div class="feat_small_details">
          <h4>Contact form</h4>
          <p>Receive messages from your clients using the allready build in contact form</p>
          <a href="contact.html" class="button_small">Read More</a>
          </div>
          </li>
      </ul>
      
      
      </div>
      
      </div>
      
      
    </div>
  </div>
</div>